<a href="https://colab.research.google.com/github/EMiheeva/Machine_Learning_case-Credit-Scrolling/blob/main/case.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

train_data = pd.read_excel('/content/train_credit.xlsx')
test_data = pd.read_excel('/content/test_credit.xlsx')

In [ ]:
train_data.head()

,Unnamed: 0,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default_0
0,0,1,20.0,2,2,1,24,2,2,-1,...,0,0,0,0,689,0,0,0,0,1
1,1,3,90.0,2,2,2,34,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
2,2,4,50.0,2,2,1,37,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
3,3,5,50.0,1,2,1,57,-1,0,-1,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
4,4,6,50.0,1,1,2,37,0,0,0,...,19394,19619,20024,2500,1815,657,1000,1000,800,0

In [ ]:
test_data.head()

,Unnamed: 0,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,23000,28789,220,2,5,1,32,0,0,0,...,4252,6129,6423,7208,2500,1500,2000,500,1000,1000
1,23001,28790,340,2,1,1,36,-1,-1,-1,...,17716,12010,14111,6995,4834,17716,12636,14111,0,5666
2,23002,28791,200,2,3,1,42,-1,-1,-1,...,0,0,400,400,10468,0,0,400,0,0
3,23003,28793,50,2,2,2,43,0,0,0,...,26724,20903,19225,19536,2000,2000,2020,2000,1000,800
4,23004,28794,80,2,1,2,38,0,0,0,...,47627,48482,49153,46995,2938,1853,1708,1824,1704,1641

In [ ]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23000 entries, 0 to 22999
Data columns (total 26 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  23000 non-null  int64
 1   ID          23000 non-null  int64
 2   LIMIT_BAL   23000 non-null  float64
 3   SEX         23000 non-null  int64
 4   EDUCATION   23000 non-null  int64
 5   MARRIAGE    23000 non-null  int64
 6   AGE         23000 non-null  int64
 7   PAY_1       23000 non-null  int64
 8   PAY_2       23000 non-null  int64
 9   PAY_3       23000 non-null  int64
 10  PAY_4       23000 non-null  int64
 11  PAY_5       23000 non-null  int64
 12  PAY_6       23000 non-null  int64
 13  BILL_AMT1   23000 non-null  int64
 14  BILL_AMT2   23000 non-null  int64
 15  BILL_AMT3   23000 non-null  int64
 16  BILL_AMT4   23000 non-null  int64
 17  BILL_AMT5   23000 non-null  int64
 18  BILL_AMT6   23000 non-null  int64
 19  PAY_AMT1    23000 non-null  int64
 20  PAY_AMT2    23000 non-null  int64
 21  PAY_AMT3    23000 non-null  int64
 22  PAY_AMT4    23000 non-null  int64
 23  PAY_AMT5    23000 non-null  int64
 24  PAY_AMT6    23000 non-null  int64
 25  default_0   23000 non-null  int64
dtypes: float64(1), int64(25)
memory usage: 4.6 MB

In [ ]:
train_data.columns

Index(['Unnamed: 0', 'ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE',
       'PAY_1', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1',
       'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6',
       'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default_0'],
      dtype='object')

In [ ]:
# Функция для категоризации возраста
def categorize_age(age):
    if age < 30:
        return '18-29'
    elif age < 40:
        return '30-39'
    elif age < 50:
        return '40-49'
    elif age < 60:
        return '50-59'
    else:
        return '60+'

# Применяем категориальную функцию к возрасту
train_data['AGE_CATEGORY'] = train_data['AGE'].apply(categorize_age)
test_data['AGE_CATEGORY'] = test_data['AGE'].apply(categorize_age)

# Обработка EDUCATION как порядкового признака
education_order = {1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6}
train_data['EDUCATION'] = train_data['EDUCATION'].map(education_order)
test_data['EDUCATION'] = test_data['EDUCATION'].map(education_order)

# Определяем категориальные и числовые признаки
categorical_features = ['SEX', 'EDUCATION', 'MARRIAGE', 'AGE_CATEGORY']
numeric_features = [col for col in train_data.select_dtypes(include=['int64', 'float64']).columns
                   if col not in categorical_features + ['default_0']]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.metrics import roc_auc_score
from sklearn.metrics import precision_score, recall_score
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
y = train_data['default_0']
X = train_data.drop(['default_0'], axis=1)

# Разделяем данные на обучающую и валидационную выборки
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

# Предварительная обработка
preprocessor = ColumnTransformer(
    transformers=[
        ('num', 'passthrough', numeric_features),
        ('cat', OneHotEncoder(handle_unknown='ignore'), categorical_features)
    ],
    remainder='drop'
)

# Словарь моделей для обучения
models = {
    'Logistic Regression': Pipeline(steps=[
        ('preprocessor', preprocessor),
        ('classifier', LogisticRegression(max_iter=1000))
    ]),
    'Random Forest': Pipeline(steps=[
        ('preprocessor', preprocessor),
        ('classifier', RandomForestClassifier())
    ]),
    'Gradient Boosting': Pipeline(steps=[
        ('preprocessor', preprocessor),
        ('classifier', GradientBoostingClassifier())
    ])
}

# Обучаем модели и вычисляем ROC AUC для каждой и выводим результат
for model_name, model in models.items():
    model.fit(X_train, y_train)
    val_probs = model.predict_proba(X_val)[:, 1]

    val_preds = (val_probs >= 0.5).astype(int)

    roc_auc = roc_auc_score(y_val, val_probs)
    precision = precision_score(y_val, val_preds)
    recall = recall_score(y_val, val_preds)

    print(f'\n{model_name} ROC AUC Score: {roc_auc}')
    print(f'{model_name} Precision: {precision}')
    print(f'{model_name} Recall: {recall}')

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Logistic Regression ROC AUC Score: 0.6639253594959843
Logistic Regression Precision: 0.6643835616438356
Logistic Regression Recall: 0.09556650246305419

Random Forest ROC AUC Score: 0.7532540484091487
Random Forest Precision: 0.6679389312977099
Random Forest Recall: 0.3448275862068966

Gradient Boosting ROC AUC Score: 0.7690570315559495
Gradient Boosting Precision: 0.6787762906309751
Gradient Boosting Recall: 0.3497536945812808

In [ ]:
# Используем модель Gradient Boosting для предсказания
best_model = models['Gradient Boosting']
X_test = test_data
best_model.fit(X_train, y_train)

val_probs = best_model.predict_proba(X_test)[:, 1]

print(val_probs.shape)

credit_recommendations = (val_probs > 0.5).astype(int)

recommendation_output = ' '.join(map(str, credit_recommendations))
print(f"\nРекомендация о выдаче кредита: {recommendation_output}")

# Индексы клиентов с наибольшей вероятностью возврата кредита
confident_return_indices = val_probs.argsort()[-3:][::-1]
most_confident_clients = X_test.index[confident_return_indices].tolist()
most_confident_clients_ids = test_data.loc[most_confident_clients, 'ID'].tolist()

# Индексы клиентов с наименьшей вероятностью возврата кредита
least_confident_return_indices = val_probs.argsort()[:3]
least_confident_clients = X_test.index[least_confident_return_indices].tolist()
least_confident_clients_ids = test_data.loc[least_confident_clients, 'ID'].tolist()

print(f"\nТри клиента, которым мы наиболее уверены, что вернут кредит: {' '.join(map(str, most_confident_clients))}")
print(f"Три клиента, которым мы наиболее уверены, что вернут кредит [их ID]: {', '.join(map(str, most_confident_clients_ids))}")
print(f"Три клиента, которым мы наименее уверены, что вернут кредит: {' '.join(map(str, least_confident_clients))}")
print(f"Три клиента, которым мы наименее уверены, что вернут кредит [их ID]: {', '.join(map(str, least_confident_clients_ids))}")

(1000,)

Рекомендация о выдаче кредита: 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 1 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0

Три клиента, которым мы наиболее уверены, что вернут кредит: 769 507 806
Три клиента, которым мы наиболее уверены, что вернут кредит [их ID]: 29727, 29419, 29771
Три клиента, которым мы наименее уверены, что вернут кредит: 283 143 115
Три клиента, которым мы наименее уверены, что вернут кредит [их ID]: 29142, 28968, 28936

In [ ]:
loan_amount = 25000  # Сумма кредита
interest_rate = 0.02  # Процентная ставка (2%)
premium = 1000  # Премия за выдачу кредита
amount_recovered_if_defaulted = 20000  # Сумма, возвращаемая в случае дефолта
loss_on_default = loan_amount - amount_recovered_if_defaulted  # Убыток в случае дефолта

# Прибыль при возврате кредита
profit_if_repaid = (interest_rate * loan_amount) + premium

# Расчет прибыли
total_profit = 0

for recommendation, prob in zip(credit_recommendations, val_probs):
    if recommendation == 1:  # Кредит выдан
        if prob > 0.5:
            total_profit += profit_if_repaid
        else:
            total_profit += loss_on_default  # Убыток в случае дефолта
    else:  # Кредит не выдан
        total_profit += 0

print(f"Общая прибыль банка: {total_profit} у.е.")

Общая прибыль банка: 147000.0 у.е.